{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "last 2 versions"
                    ]
                }
            }
        ]
    ],
    
    "plugins": [
        "transform-runtime",
        "transform-custom-element-classes",
        "transform-es2015-classes"
    ]
}