<header>
    <div class="container">
        <div class="row">
            <div class="logo">
                <a href="#">
                    <img src="../assets/img/logo.svg" alt="">
                </a>
            </div>
        
            <nav>
                <ul class="menu">
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./about.html">About</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                    <li><a href="./grid.html">Grid Example</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>